* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 800px;
  height: 480px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(95, 214, 250);
  background: -moz-radial-gradient(circle, rgba(95,214,250,1) 0%, #5a145d 73%);
  background: -webkit-radial-gradient(circle, rgba(95,214,250,1) 0%, rgba(90,20,93,1) 73%);
  background: radial-gradient(circle, rgba(95,214,250,1) 0%, rgba(90,20,93,1) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fd6fa",endColorstr="#0b2265", GradientType=1); 


  /* background: rgb(95,214,250);
  background: #0b2265;
  background: -moz-radial-gradient(circle, #a4b4fa 0%,#0b2265 80%);
  background: -webkit-radial-gradient(circle, #a4b4fa 0%,#0b2265 80%);
  background: radial-gradient(circle, #a4b4fa 0%,#0b2265 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fd6fa",endColorstr="#0b2265", GradientType=1);  */

/* 
   background: rgb(121,177,212);
background: -moz-radial-gradient(circle, #79b1d4 10%, #4b0b65 75%);
background: -webkit-radial-gradient(circle, rgba(121,177,212,1) 10%, #4b0b65 75%);
background: radial-gradient(circle, rgba(121,177,212,1) 10%, #4b0b65 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#79b1d4",endColorstr="#0a002e",GradientType=1);  */

  overflow: hidden;
}

#particles-js-blue,
#particles-js-white,
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cover {
  background-color: rgba(255, 255, 255, 0.03);
}

#text {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(255,255,255, 0.3);
  z-index: 998;
}

#inline {
  display: flex;
}

h1 {
  /* position: absolute; */
  z-index: 999;
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  bottom: 110px;
}

h2, h3 {
  /* position: absolute; */
  bottom: 80px;
  z-index: 999;
  font-size: 2rem;
  color: #fff;
  /* text-transform: uppercase; */
  font-family: sans-serif;
  margin: 0 10px 0 0;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;

}

#community {
  color: #D21373;
  /* position: absolute; */
  bottom: -1px;
  right: -160px;
  margin-left: 15px;
}

img {
  z-index: 999;
  width: 150px;
  object-fit: contain;
  position: relative;
  bottom: -2px;
  /* left: 250px; */
}

#company {
  color: #20254B;
}

svg {
  position: absolute;
  width: 10vw;
  height: 10vw;
}

#central-snowflake {
  rotate: 30deg;
}

.snowflake-path {
  fill: #d8ffff;
  stroke-width: 3.64023
}

ellipse {
  fill: #d8ffff;
  stroke-width: 1.3px;
}

#left-top-snowflake {
  width: 80%;
  height: 80%;
  left: -300px;
  top: -90px;
  rotate: 25deg;
}

#left-top-snowflake .snowflake-path,
#left-top-snowflake ellipse {
  fill: #5a145d;
}

#left-top-snowflake .snowflake-medium-path,
#left-top-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* TOP LEFT MIDDLE */
#top-left-middle-snowflake {
  width: 40%;
  height: 40%;
  left: 50px;
  top: -130px;
  rotate: -20deg;
}

#top-left-middle-snowflake .snowflake-path,
#top-left-middle-snowflake ellipse {
  fill: #5a145d;
}

#top-left-middle-snowflake .snowflake-medium-path,
#top-left-middle-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* TOP MIDDLE */
#top-middle-snowflake {
  width: 60%;
  height: 60%;
  top: -190px;
}

#top-middle-snowflake .snowflake-path,
#top-middle-snowflake ellipse {
  fill: #5a145d;
}

#top-middle-snowflake .snowflake-medium-path,
#top-middle-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* TOP RIGHT MIDDLE */
#top-right-middle-snowflake {
  width: 40%;
  height: 40%;
  right: 30px;
  top: -120px;
  rotate: 5deg;
}

#top-right-middle-snowflake .snowflake-path,
#top-right-middle-snowflake ellipse {
  fill: #5a145d;
}

#top-right-middle-snowflake .snowflake-medium-path,
#top-right-middle-snowflake .snowflake-small-path {
  stroke: #5a145d; 
}

/* TOP RIGHT */
#right-top-snowflake {
  width: 70%;
  height: 70%;
  right: -220px;
  top: -80px;
  rotate: 5deg;
}

#right-top-snowflake .snowflake-path,
#right-top-snowflake ellipse {
  fill: #5a145d;
}

#right-top-snowflake .snowflake-medium-path,
#right-top-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* RIGHT MIDDLE */
#right-middle-snowflake {
  width: 60%;
  height: 60%;
  right: -220px;
  bottom: 45px;
  rotate: 50deg;
}

#right-middle-snowflake .snowflake-path,
#right-middle-snowflake ellipse {
  fill: #5a145d;
}

#right-middle-snowflake .snowflake-medium-path,
#right-middle-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* BOTTOM RIGHT */
#right-bottom-snowflake {
  width: 40%;
  height: 40%;
  right: -20px;
  bottom: -90px;
  rotate: 35deg;
}

#right-bottom-snowflake .snowflake-path,
#right-bottom-snowflake ellipse {
  fill: #5a145d;
}

#right-bottom-snowflake .snowflake-medium-path,
#right-bottom-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* BOTTOM LEFT */
#left-bottom-snowflake {
  width: 30%;
  height: 30%;
  left: 80px;
  bottom: -70px;
}

#left-bottom-snowflake .snowflake-path,
#left-bottom-snowflake ellipse {
  fill: #5a145d;
}

#left-bottom-snowflake .snowflake-medium-path,
#left-bottom-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* LEFT MIDDLE */
#left-middle-snowflake {
  width: 60%;
  height: 60%;
  left: -190px;
  bottom: -40px;
  rotate: 10deg;
  /* z-index: -1; */
}

#left-middle-snowflake .snowflake-path,
#left-middle-snowflake ellipse {
  fill: #5a145d;
}

#left-middle-snowflake .snowflake-medium-path,
#left-middle-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

/* BOTTOM MIDDLE */
#bottom-middle-snowflake {
  width: 0%;
  height: 0%;
  bottom: -200px;
}

#bottom-middle-snowflake .snowflake-path,
#bottom-middle-snowflake ellipse {
  fill: #5a145d;
}

#bottom-middle-snowflake .snowflake-medium-path,
#bottom-middle-snowflake .snowflake-small-path {
  stroke: #5a145d;
}

.light {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  -webkit-box-shadow: -1px 1px 130px 200px rgba(255, 255, 255, 0.4); 
  box-shadow: -1px 1px 130px 200px rgba(255, 255, 255, 0.4);   
}

#anaplan {
  position: absolute;
  top: 110px;
  width: 30%;
  height: 30%;
  z-index: 999;
}

#central-snowflake {
  width: 20%;
  height: 20%;
  position: absolute;
  right: 420px;
  top: 80px;
  opacity: 0.7;
}

#central-left-snowflake {
  width: 15%;
  height: 15%;
  position: absolute;
  right: 200px;
  top: 200px;
  opacity: 0.6;
  rotate: 15deg;
}

#anaplan path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit:4;
  fill: #0b2265;
  fill-opacity: 0;
  stroke-width: 0.264583px
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-line {
  to {
    fill-opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    transform: scale(0.4);
  }
}